@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: '3270 Nerd Font';
  src: url('./assets/fonts/3270NerdFontMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

body {
  background-color: #000000;
  color: #61cf5a;
  font-family: '3270 Nerd Font', sans-serif;
}
